@import "variable.scss";
@import "mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 1.8rem;
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 700px 3000px 600px;
  gap: 50px 0;
  grid-template-areas:
    "header"
    "main"
    "footer";

  p {
    color: hsl(210, 10%, 33%);
    // margin-bottom: $bottomtxt;
  }
  header {
    width: 100%;
    grid-area: header;
    @include flexmid;
    padding: $paddingbox;

    .logo-corpo {
      width: 40%;
      margin-bottom: $margin-bottom;
    }
    h1 {
      font-size: 2em;
      margin-bottom: $bottomtitre;
    }
    .btn {
      margin: 50px 0;

      a {
        @include bouton;
      }
    }
    .btn.deux a {
      background-color: hsl(233, 100%, 69%);
      box-shadow: 1px 4px 0.7px 0.5px hsl(233, 46%, 36%);
    }
  }

  main {
    width: 100%;
    height: 3000px;
    grid-area: main;
    padding: $paddingbox;
    @include flexmid;

    .img-ecran {
      max-width: 80%;
      margin-bottom: $bottomtxt;
    }
    h4 {
      font-size: 1.7em;
      margin-bottom: $bottomtitre;
    }
    h4:nth-last-child(3) {
      margin-top: 50px;
    }
    p {
      margin-bottom: $bottomtxt;
    }
    h6 {
      font-size: 1.3em;
      margin-bottom: $bottomtitre;
    }

    .corporation {
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      img {
        width: 40%;
      }
    }
    .btn {
      margin: 50px 0;

      a {
        @include bouton;
      }
    }
    .btn.deux a {
      background-color: hsl(233, 100%, 69%);
      box-shadow: 1px 4px 0.7px 0.5px hsl(233, 46%, 36%);
    }
  }

  footer {
    width: 100%;
    grid-area: footer;
    background-color: hsl(201, 10%, 73%);
    padding: $paddingbox;
    color: hsl(210, 10%, 33%);
    img {
      margin-top: 20px;
    }
    .liste {
      display: flex;
      flex-direction: column;
      list-style-type: none;

      li {
        margin-top: $bottomtitre;
      }
    }
    .media {
      margin-bottom: $bottomtitre;
    }
  }
}
@import "media.scss";
